.newest-items-container>h1 {
    padding-top: 25px;
    text-align: center;
}

.newest-items-container {
    width: 100vw;
    height: 535px;
    background: radial-gradient(70px circle at 100px 100px,
            #F9F9EC 50%,
            transparent 51%),
        radial-gradient(75px circle at 300px 400px,
            #FD0000 50%,
            transparent 51%),
        radial-gradient(100px circle at 400px 20px,
            #000000 50%,
            transparent 51%),
        radial-gradient(25px circle at 500px 250px,
            #A23B72 50%,
            transparent 51%),
        radial-gradient(200px circle at 250px 200px,
            #00B1FF 50%,
            transparent 50.4%),
        radial-gradient(10px circle at 50px 420px,
            #0079FF 50%,
            transparent 51%);
    background-color: #FFFFE6;
}

.items-card{
display:flex;
align-items: center;
justify-content: center;
}

.items-card > img{
    height: 300px;
    width: 300px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);

}

.newest-card-container{
    margin: 3rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    
}